<div class="container mt-4">
  <div class="filters mb-4 d-flex flex-wrap  justify-content-between">
    <a *ngFor="let category of categories" class="btn btn-outline-primary  flex-grow-1 m-1" (click)="selectedCategory=category">{{ category }}</a>
    <a class="btn btn-outline-primary  flex-grow-1 m-1" (click)="selectedCategory=''">All</a>
  </div>
  
    <ul class="list-unstyled">
      <li class="product-item mb-3" *ngFor="let product of filterByCategory()">
      <app-product-details
       [product]="product" 
       (buy)="addToCart(product)">
      </app-product-details>
      </li>
    </ul>
  </div>