/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* You can add your custom global styles below */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
 
  }
  
  a {
    text-decoration: none;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }

  
  
  
  


  
